<esi:include src="/keyword_widget/{{ .Entry.Keyword }}"/>
<form method="POST">
  <input type="checkbox" name="delete" value="1">
  <input class="btn btn-primary" type="submit" value="delete">
</form>

